<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

        body {
            margin: 0;
            padding: 0;
            font-family: montserrat;
            background: linear-gradient(120deg, #205295, #82AAE3);
            height: 100vh;
            overflow: hidden;
        }

        .conter {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            background: white;
            border-radius: 10px;
        }

        .conter h1 {
            text-align: center;
            padding: 0 0 20px 0;
            border-bottom: 1px solid silver;
        }

        .conter form {
            padding: 0 40px;
            box-sizing: border-box;
        }

        form .txt_field {
            position: relative;
            border-bottom: 2px solid #adadad;
            margin: 30px 0;
        }

        .txt_field input {
            width: 100%;
            padding: 0 5px;
            height: 40px;
            font-size: 16px;
            border: none;
            background: none;
            outline: none;
        }

        .txt_field label {
            position: absolute;
            top: 50%;
            left: 5px;
            color: #adadad;
            transform: translateY(-50%);
            font-size: 16px;
            pointer-events: none;
            transition: .5s;
        }

        .txt_field span::before {
            content: '';
            position: absolute;
            top: 40px;
            left: 0;
            width: 0%;
            height: 2px;
            background: #82AAE3;
            transition: .5s;

        }

        .txt_field input:focus~label,
        .txt_field input:valid~label {
            top: -5px;
            color: #82AAE3;
        }

        .txt_field input:focus~span::before,
        .txt_field input:valid~span::before {

            width: 100%;
        }

        .pass {
            margin: -5px 0 20px 5px;
            color: #a6a6a6;
            cursor: pointer;
        }

        .pass:hover {
            text-decoration: underline;
        }

        input[type="submit"] {
            width: 100%;
            height: 50px;
            border: 1px solid;
            background: #82AAE3;
            border-radius: 25px;
            font-size: 18px;
            color: #e9f4fb;
            font-weight: 700;
            cursor: pointer;
            outline: none;
        }

        input[type="submit"]:hover {
            border-color: #82AAE3 transparent 0.5s;
        }

        .signup_link {
            margin: 30px;
            text-align: center;
            font-size: 16px;
            color: #666666;
        }

        .signup_link a {
            color: #205295;
            text-decoration: none;
        }

        .signup_link a:hover {
            text-decoration: underline;
        }
        .error-class{
            color: #E90064;
        }
    </style>
</head>

<body>
    <div class="conter">
        <% if (success ) { %>
            <h2 style="color: #5D9C59; text-align: center;">
                <%= success %>
            </h2>
            <% } %>
                <h1>Login</h1>
                <form action="/auth/login" method="post">
                    <div class="txt_field">
                        <input type="email" id="email" name="email" required>
                        <span></span>
                        <label>Email</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" id="password" name="password" required>
                        <span></span>
                        <label>Password</label>
                    </div>
                    <input type="submit" value="Login">
                    <% if (message.length > 0 ) { %>
                        <h2 class="error-class"> <%= message %></h2>
                        <% } %>
                    <div class="signup_link">
                        Don't Hava an Account?
                        <a href="/register" style="text-decoration: underline;">Register</a>
                    </div>
                </form>
    </div>
</body>

</html>